---
interface Props {
	class?: string;
}

const { class: className = '' } = Astro.props;
---

<div
	class={`p-6 bg-gradient-to-r from-blue-50 to-indigo-50 dark:from-gray-800 dark:to-gray-700 rounded-2xl border border-blue-100 dark:border-gray-600 ${className}`}
>
	<slot />
</div>
