---
---
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<script>
  import toggleMenu from '../scripts/toggleMenu';
  toggleMenu();
</script>