---
import type { SocialLink } from "../types/social-link";
const { SocialLink: { platform, linkUrl } } = Astro.props;
---
<a href={linkUrl}>{platform}</a>
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>