.themeToggle {
  border: 0;
  background: none;
  cursor: pointer;
}
.sun {
  fill: black;
}
.moon {
  fill: transparent;
}

:global(.dark) .sun {
  fill: transparent;
}
:global(.dark) .moon {
  fill: white;
}
