---
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
type Props = {
  pageTitle: string;
};
const { pageTitle } = Astro.props as Props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header client:load />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
  </body>
</html>
<script is:inline>
  // ローカルストレージのテーマか、無ければブラウザ設定からテーマを取得
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  // htmlタグのdarkクラス有無を設定
  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  // ローカルストレージにテーマを保存
  window.localStorage.setItem('theme', theme);
</script>
